<h3> Listado de heores</h3>

<div *ngIf="deletedHero; else nothingwasDeleted">
<h3>Heroe Borrado <small class="text-danger">{{deletedHero}}</small></h3>
</div>

<ng-template #nothingwasDeleted>
<h3>No ha borrado nada</h3>
</ng-template>

<button
*ngIf = "heroNames.length > 0"
(click)="remotelastHero()" class="btn btn-outline-danger">
    Borrar el ultimo heroe
</button>

<ul class="mt-2 list-group">
    <li *ngFor="let name of heroNames" class="list-group-item">
        <strong>{{name}}</strong>
    </li>
</ul>

